header > nav {
  padding: 1rem 0;
}
header > nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__berand {
  background-color: inherit;
  font-size: 3.2rem;
  font-weight: 550;
}
.header__berand:hover {
  background-color: inherit;
  color: rgb(49, 7, 172);
}
.header__berand > span {
  color: rgb(46, 71, 195);
  font-weight: 900;
}
.mobile__menu {
  display: none;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.mobile__menu > svg {
  font-size: 2.3rem;
  cursor: pointer;
}
.menu__mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 400ms ease;
}
.menu__mobile-unshow {
  animation-duration: 1s;
  animation-name: unidentifier;
  display: none;
}
.menu__mobile-show {
  animation-duration: 0.5s;
  animation-name: identifier;
  animation-fill-mode: forwards;
  display: block;
}
.menu__mobile-des {
  background-color: aliceblue;
  max-width: 15rem;
  min-width: 13rem;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
}
.close_menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: rgba(42, 9, 162, 0.4);
}
.close_menu > svg {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.menu__mobile-des-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid silver;
}
.menu__mobile-des-body {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.menu__mobile-des-body > a {
  padding: 0.3rem 0.5rem;
  width: 100%;
  margin: 0.1rem 0;
}
@media screen and (max-width: 1000px) {
  .mobile__menu {
    display: flex;
  }
  .navbar-nav {
    display: none;
  }
}
.bold {
  font-weight: bold;
}
@keyframes identifier {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes unidentifier {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(-300px);
  }
}
